<ion-view style="" class=" " id="page4" title="Help">
    <ion-content class="has-header" padding="true">
        <ion-list class=" " id="help-list4">
            <ion-item style="" class="  " ui-sref="menu.postSomething" id="help-list-item12">Post a help</ion-item>
            <ion-item style="" class="  " ui-sref="menu.viewPosts" id="help-list-item14">View Your Posts</ion-item>
            <ion-item style="" class="  " id="help-list-item16">View interested posts</ion-item>
        </ion-list>
    </ion-content>
</ion-view>