<ion-view style="" class=" " id="page8" title="Login">
    <ion-content class="has-header" padding="true">
        <form class="list " id="login-form1">
            <ion-list class=" " id="login-list2">
                <label id="login-input1" class="item item-input ">
                    <span class="input-label">Username</span>
                    <input placeholder="" type="text">
                </label>
                <label id="login-input2" class="item item-input ">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="password">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <a class=" button button-stable  button-block " id="login-button1" ui-sref="menu.uP">Log in</a>
            <a class=" button button-positive  button-block button-clear " id="login-button2" ui-sref="menu.signup">Or create an account</a>
        </form>
    </ion-content>
</ion-view>