<ion-side-menus style="" enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list class=" " id="menu-list1">
                <ion-item style="" class="  " menu-close="" ui-sref="menu.uP" id="menu-list-item1">Home</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.help" id="menu-list-item11">Help</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.jobs" id="menu-list-item2">Jobs</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.events" id="menu-list-item3">Events</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.discounts" id="menu-list-item4">Discounts</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.login" id="menu-list-item15">Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>