<ion-view style="" class=" " id="page11" title="Post Something">
    <ion-content class="has-header" padding="true">
        <form class="list " id="postSomething-form5">
            <label id="postSomething-input6" class="item item-input ">
                <span class="input-label">I need help with</span>
                <textarea name="Text1" placeholder="Type here..."cols="40" rows="5" ng-model = "tweetdata"></textarea>
            </label>
            <ion-toggle class=" " id="postSomething-toggle1" toggle-class="toggle-positive">Make it Anonymous</ion-toggle>
            <label name="category" id="postSomething-select1" class="item item-select ">
                <span class="input-label">Category</span>
                <select>
                    <option>Monetary Funds</option>
                    <option>Domestic help</option>
                    <option>Child care</option>
                    <option>Counselling</option>
                    <option>Others</option>
                </select>
            </label>
        </form>
        <button class=" button button-positive  button-block "  ng-click = "tweet(tweetdata)" id="postSomething-button6">Post</button>
		<input type="text" ng-model="testcontent"><br>
	</ion-content>
</ion-view>
