<ion-view style="" class=" " id="page1" title="UP">
    <ion-content class="has-header" padding="true">
        <ion-list class=" " id="uP-list1">
            <ion-item style="" ui-sref="menu.help" id="uP-list-item10" class="item-thumbnail-left  ">
                <img src="img/oEaZBLvTzu8Htb4JAilK_helping-hand-icon.jpg">
                <h2>Help</h2>
            </ion-item>
            <ion-item style="" ui-sref="menu.jobs" id="uP-list-item7" class="item-thumbnail-left  ">
                <img src="img/tzlSxI4AQRmdv28EIjfu_work-icon.png">
                <h2>Jobs</h2>
            </ion-item>
            <ion-item style="" ui-sref="menu.events" id="uP-list-item8" class="item-thumbnail-left  ">
                <img src="img/TbUTB33T8yo6tn7pqAVu_events-icon.jpg">
                <h2>Events</h2>
            </ion-item>
            <ion-item style="" ui-sref="menu.discounts" id="uP-list-item9" class="item-thumbnail-left  ">
                <img src="img/hI1pwzOQ9qijcZummcKx_discount-coupon-icon.png">
                <h2>Discounts</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>